.main{
    width: 97%;
    border: #000000 2px solid;
    background-color: rgb(255, 255, 255);
    /* height: 100vh; */
    height: 205px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:6px;
    margin-top: -13;
    border-radius: 6px;
    overflow: scroll;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
    /* column-gap: 10px; */
    /* height: 100vh; */
    
}

.first {
    background-color: rgb(106, 179, 234);
    width: 99%;
    height: 20%;
    margin-top: 2px;
    text-align: center;
    font-size: 17px;
    color: black;
    /* justify-content: center;
    align-items: center; */
    /* margin-top: 10px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.first span{
    margin-left:10px;
}
.second {
    background-color: rgb(108, 108, 249);
    width: 99%;
    /* width: 100%; */
    justify-content: center;

    height: 70%;
    display: flex;
    border: #000000 2px solid;
    flex-direction: column;
    gap:1px;
    /* justify-content: center;
    align-items: center; */
}
.second > div {
    width: 100%;
    background-color: white;
    height: 63px;
    border: white;
}

label{
    color:black;
    margin-left:100px;
    margin-top:20px;
    margin-right:20px;
}
.btn-class{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;

}
button{
    height: 26px;
    width: 66px;
}
.butt1:hover{
    background-color: #e1e0fa;
    /* color: white; */
}

.btn-class button{
    padding:-5px -5px;
    border-radius: 4px;
    background-color: #64B0E9;
    color:black;
}
#name{
    width: 290px;
    height: 21px;
}
.select{
    width: 200px;
    height: 21px;
}

.trainee{
    margin-top: 41px;
    margin-left: 24px;
    margin-bottom: -16px;
    font-weight: bold;
    font-size: 25px;
}
.box{
    border-radius: 0px;
background: linear-gradient(225deg, #e6e6e6, #ffffff);
box-shadow:  -50px 50px 100px #d4d4d4,
             50px -50px 100px #ffffff;

             width: 1500px;
                height: 280px;
             margin-left: 134px;
             /* justify-content: center;
    align-items: center; */
}
.footer{
    margin-top: 280px;
}